*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base: rgb(217, 217, 217);
  --red-100: rgb(219, 9, 10);
  --red-400: rgb(214, 16, 6);
  --green-100: rgb(26, 129, 51);
  --green-400: rgb(23, 86, 42);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

body {
  background-color: var(--black);
}


.literata-bold {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.container {
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 10%;
  color: var(--red-100);
  max-width: 100%;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--red-100);
}

.nav-links li a:hover {
  text-decoration: underline solid 5px var(--green-100);
}

.section {
  width: 100vw;
}  

.image-bg {
  flex: 1;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.menu-text {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.menu-text a {
  text-decoration: none;
  color: var(--red-100);
  cursor: pointer;
}

.menu-pic {
  flex: 1;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer-icon img {
  width: 20px;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.footer p {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}

.white {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.red-100 {
  color: var(--red-100);
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.green-100 {
  color: var(--green-100);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

